.profile-name {
    font-size: 2rem;
}

.profile-email {
    font-size: 1rem;
}

.profile-description-box {
    padding: 0;
    margin: 0 15px;
}

.profile-label {
    font-size: 1rem;
}

.profile-unfilled-field {
    color: #808080;
}
