.menu {
  .icon {
    margin-right: 1rem;
    color: $secondary-text-color;
  }

  .text {
    color: $secondary-text-color;
  }

  .item {
    display: flex;
    justify-content: left;
  }
}

.navbar {
  .menu-button {
    color: $primary-text-color;
  }
}
